.flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
}
.immagine{
    height: 475px;
    width: 475px;
}
body{
    background-color: lightblue;
}